@import "normalize";

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  // background-color: #AA7939;
  background-image: url('http://localhost:3001/board.jpg');
  background-size: 100% 100%;

  div{
    // border: 1px red solid;
  }
}

.board{


  .legend{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    z-index: 2;

    ul{
      border: 1px solid red;

      li{
        display: inline;
        border: 1px solid red;
      }
    }

    p{
      border: 1px solid red;
    }

    span{
      display: inline-block;
      width: 50px;
      height: 12px;
      background-color: #fff;
    }
  }
}
