@import "normalize";

.note{
  background-color: blue;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 30px;
  position: absolute;
  border: 1px solid white;
  z-index: -1;
  display: flex;

  .btns{
    height: 30px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  textarea{
    width: 270px;
    height: 250px;
  }
}
